.container{
  display:-webkit-flex;
  -webkit-aglin-items:center;
  -webkit-justify-content: center;
}

.Pagewrap{
  margin:0.2em;
  width:850px;
  height:auto;
}

.Ptitle{
  margin-top:0.5em;
  font-size: 25pt;
  font-weight: bolder;
  margin-bottom: 0.1em;
}
.Bblock{
  height: 0.1em;
  background-color: black;
  margin-bottom: 0.2em;
}


.Wtitle{
  font-size:22pt;
  font-weight: bold;
  margin-bottom: 0.1em;
}
.Winformation{
  font-size:0.3em;
  font-weight: 300;
  text-align : right;
}

.wWrite{
  word-break: break-all;
  vertical-align: top;
  font-size:0.3em;
}

.wHeight{
    height: 15em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Wbutton{
  float: right;
  margin-right:1em;
}
