<div class="container">
    <div class="Pagewrap">

      <div>
        <div class="Ptitle">
          Sleepless
        </div>
        <div class="Bblock"></div>
      </div>


      <div>
        <div class="Wtitle">
            <div *ngIf="posts$ | async as res">
                <div *ngFor="let post of res">
                  {{ post.title }}
                </div>
              </div>
        </div>
        <div class="Winformation">
            <div *ngIf="posts$ | async as res">
                <div *ngFor="let post of res">
                  {{ post.pWriter }}
                  {{ post.pDate }}
                </div>
        </div>
      </div>

      <div>
        <hr>
        <div class="wHeight">
          <div class="wWrite">
              <div *ngIf="posts$ | async as res">
                  <div *ngFor="let post of res">
                    {{ post.pContent }}
                  </div>
              </div>
          </div>
        <hr>
      </div>

      <div class="Wbutton">
        <input type="button" name="edit" value="수정">
        <input type="button" name="delete" value="삭제">
      </div>

  <button (click)='navigate()'>이동</button>
    </div>
  </div>
