.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
 }

 .container_top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
 }

 .container_top > div { background-color:black}
 .container > div {background-color: gainsboro}

 .num {
   text-align: center;
   padding: 10px;
   flex-grow: 0;
   color:white;
   font-size:20pt;
 }

 .title {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  color:white;
  font-size:20pt;
 }

 .writer {
  text-align: center;
  padding: 10px;
  flex-grow: 0;
  color:white;
  font-size:20pt;
 }

 .date {
  text-align: center;
  padding: 10px;
  flex-grow: 0;
  color:white;
  font-size:20pt;
 }

 button{
  text-align: center;
  background:black;
  color:#fff;
  border:none;
  height:30px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:black;
  color:#A9A9A9;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(117, 227, 255);
  transition:400ms ease all;
}
