.container {
  font-size : 32px;
}

.btn-container {
  text-align : right;
}

.btn_form {
  height: 40px;
  width: 200px;
  margin: 1% 1% 1% 1%;

  border-radius: 4px;
  text-align:center;
  color : white;
  background-color: #2B2D2F;
  font: bold 1.25rem/1 poppins;
  font-family: "HY헤드라인M";
}

button#login {
  height: 80px;
  width : 100px;
  margin: 1% 1% 1% 1%;

  border-radius: 4px;
  text-align:center;
  color : white;
  background-color: #2B2D2F;
  font: bold 1.25rem/1 poppins;
  font-family: "HY헤드라인M";
}

table {
  margin-left: auto;
  margin-right: auto;
}
