h1 {
  text-align: center;
  font-size: 38pt;
}

h2 {
  text-align: center;
  color: #DDD;
  font-size: 15pt;
}

h3 {
  text-align: center;
  margin-top: 50pt;
  color:rgb(70, 65, 97);
  font-size: 20pt;
}

input {
  block-size: 21pt;
  border-color: rgb(70, 65, 97);
  font-size: 12pt;
}

button {
  border:0px;
  background-color :rgb(70, 65, 97);
  color: white;
  block-size: 25pt;
  inline-size: 70pt;
  font-size: 13pt;
}
