
.user {
  text-align:right;
}

.buttonposition {
  text-align: right;
}

.file_Tab {
  color : hsl(240, 100%, 13%);
  background-color : white;
}

.fileContainer input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow:
 hidden;
 clip:rect(0,0,0,0);
 border: 0;
}

.btn_form {
  height: 50px;
  width: 130px;
  margin: 1% 1% 1% 1%;
  color: #71DFBE;
  border-radius: 4px;
  text-align:center;
  color : white;
  background-color: #2B2D2F;
  font: bold 1.25rem/1 poppins;
  font-family: "HY헤드라인M";
}

.fileContainer label {
  display: inline-block;
  padding: .5em .75em;
  color: white;
  font-size: 16pt;
  line-height: normal;
  vertical-align: middle;
  background-color: black;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  width: 120px;
  height: 30px;
}

.fileContainer .upload-name {
  display: inline-block;
  padding: .5em .75em;
  font-size: 16pt;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px soild #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-apperance: none;
  -moz-apperance: none;
  appearance: none;
}

.fileContainer .upload-display {
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .fileContainer .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.fileContainer .upload-thumb-wrap {
  display : inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.fileContainer .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \ 9;
  height: auto;
}

.checkbox-label{
  display:block;
  margin:2em .5em 0;
  text-align:right
}

/*Checkbox*/
[type="checkbox"]:not(:checked),[type="checkbox"]:checked,[type="radio"]:not(:checked),[type="radio"]:checked{
  position:absolute;
  left:-9999px
}
[type="checkbox"]:not(:checked) + label,[type="checkbox"]:checked + label,[type="radio"]:not(:checked) + label,[type="radio"]:checked + label{
  position:relative;
  padding-left:35px;
  cursor:pointer;
  display:inline-block;
  font-size:15px
}
[type="checkbox"]:not(:checked) + label:before,[type="checkbox"]:checked + label:before,[type="checkbox"]:not(:checked) + label:after,[type="checkbox"]:checked + label:after,[type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:after,[type="radio"]:checked + label:after{
  content:'';
  position:absolute
}
[type="checkbox"]:not(:checked) + label:before,[type="checkbox"]:checked + label:before,[type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before{
  left:0;
  top:-4px;
  width:25px;
  height:25px;
  border:2px solid black;
  border-radius:6px;
  transition:background-color .2s
}
[type="checkbox"]:checked + label:before,[type="radio"]:checked + label:before{
  background: black;
  border:2px solid black;
}
[type="checkbox"]:checked + label:before,[type="checkbox"]:not(:checked) + label:before,[type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  position:absolute;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:80%
}
[type="checkbox"]:checked + label:before,[type="radio"]:checked + label:before{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTczLjkgNDM5LjRMNy41IDI3M2MtMTAtMTAtMTAtMjYuMiAwLTM2LjJsMzYuMi0zNi4yYzEwLTEwIDI2LjItMTAgMzYuMiAwTDE5MiAzMTIuNyA0MzIuMSA3Mi42YzEwLTEwIDI2LjItMTAgMzYuMiAwbDM2LjIgMzYuMmMxMCAxMCAxMCAyNi4yIDAgMzYuMkwyMTAuMSA0MzkuNGMtMTAgMTAtMjYuMiAxMC0zNi4yIDB6Ii8+PC9zdmc+)
}
[type="checkbox"]:checked + label:after,[type="radio"]:checked + label:after{
  border:0;
  outline:0;
  box-sizing:border-box
}
