<div>
  <div class='sign-up-container' fxFlex.gt-sm="500px" fxLayout="column">
    <form class='sign-up-form' [formGroup]="signUpFormGroup" fxLayout="column" fxLayoutGap="1rem" (submit)="signup(signUpFormGroup)" ngNativeValidate>
      <div class="form_control_group">
        <label class='sign-up-info'>ID : </label>
        <input formControlName="id" class="form_control" id=ID type=text>
      </div>

      <div class="form_control_group">
        <label class='sign-up-info'>Password : </label>
        <input formControlName="pwd" class="form_control" id=Pwd type=text>
      </div>

      <div class="form_control_group">
        <label class='sign-up-info'>User Name : </label>
        <input formControlName="user_name" class="form_control" id=userName type=text>
      </div>

      <div class="form_control_group">
        <label class='sign-up-info'>Email : </label>
        <input formControlName="email" class="form_control" id=email type=email>
      </div>

      <div>
        <label> is Enterprise? </label>
        <input type="checkbox">
      </div>

      <div class='btn-container' fxLayout="column" fxLayoutGap="2rem">
        <button class="btn_form" type="submit">Sign Up</button>
        <button class="btn_form" routerLink="/main">go main</button>
      </div>
    </form>
  </div>
</div>
