<form [formGroup]="historyTabForm" class='historyTab' (ngSubmit) = "onSubmitHistory(historyTabForm)">
  <table class='history'>
    <tr> <!-- 테이블 헤더 -->
      <td>Dates</td>
      <td>Contents</td>
      <td>Result</td>
      <td><input type="checkbox" name='masterCheck'></td>
    </tr>
    <tr *ngFor= 'let history of historyInfo | async; let i = index'>
      <td>history.date</td>
      <td>history.content</td>
      <td>history.result</td>
      <td><input type="checkbox" name=`rowCheck=${{i}}`></td>
    </tr>

  </table>

  <button type="submit" class= "btn_form">PDF 변환</button>
</form>
