<div class=main-tab-container>
  <mat-tab-group class=main>
    <!-- File Tab -->
    <mat-tab label=File>
      <app-file-tab></app-file-tab>
    </mat-tab>

    <!-- URl Tab -->
    <mat-tab label=URL>
      <app-url-tab></app-url-tab>
    </mat-tab>

    <!-- Hash Tab -->
    <mat-tab label=Hash>
      <app-hash-tab></app-hash-tab>
    </mat-tab>

    <!-- History Tab -->
    <!-- 클릭 시 historyInfo를 얻어오는 방법 -->
    <mat-tab label=History>
      <app-history-tab></app-history-tab>
    </mat-tab>
  </mat-tab-group>
</div>
